
.sectionContainer {
  background-color: #111111;
  padding: 80px 0;
  direction: rtl;
}

.badge {
  background-color: #24160B;
  border: 1px solid #f97316;
  padding: 8px 16px;
  border-radius: 50px;
  color: #a3a3a3;
  font-size: 0.85rem;
  margin-bottom: 25px;
  backdrop-filter: blur(5px);
}

.badgeDot {
  width: 6px;
  height: 6px;
  background-color: #f97316;
  border-radius: 50%;
  margin-left: 8px;
}

.badgeDotMain {
  width: 10px;
  height: 10px;
  background-color: #f97316;
  border-radius: 50%;
  margin-left: 8px;
  box-shadow: 0 0 15px #f97316;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  } 
}


.smallBadge {
  color: #f97316;
  font-size: 0.8rem;
  background: rgba(249, 115, 22, 0.1);
  padding: 6px 16px;
  border-radius: 20px;
  border: 1px solid rgba(249, 115, 22, 0.2);
}

.sectionTitle {
  color: #fff;
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.sectionSubtitle {
  color: #737373;
  font-size: 1rem;
}

.cardLink {
  text-decoration: none;
  display: block;
  height: 100%;
}

.catCard {
  background-color: #111;
  border: 1px solid #262626;
  border-radius: 16px;
  padding: 25px;
  height: 100%;
  position: relative;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContent {
  position: relative;
  z-index: 2;
  transition: transform 0.4s ease;
}

.iconBox {
  width: 50px;
  height: 50px;
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f97316;
  font-size: 1.25rem;
  transition: all 0.4s ease;
  margin-left: auto; 
}

.catName {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}

.catCount {
  color: #737373;
  font-size: 0.9rem;
  transition: color 0.3s ease;
  display: block;
}

.arrowIcon {
  position: absolute;
  top: 50%;
  left: 25px; 
  transform: translateY(-50%) translateX(-20px);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.catCard:hover {
  background-color: #f97316; 
  border-color: #f97316;
  transform: translateY(-5px);
}

.catCard:hover .iconBox {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
  color: #fff;
}

.catCard:hover .catName {
  color: #fff;
}

.catCard:hover .catCount {
  color: rgba(255, 255, 255, 0.8);
}

.catCard:hover .arrowIcon {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}